.mui-override-outlined-input {
  fieldset {
    border-color: transparent;
  }
}

code {
  font-size: 0.875rem;
}

.MuiMenuItem-root {
  &.Mui-selected {
    background-color: #c9e0e2 !important;
  }
  &:hover {
    background-color: #deedee !important;
  }
}

a {
  border-radius: 10px;
  &:focus {
    outline: 3px dotted #007079;
    outline-offset: 3px;
  }
}
